# NLP Sentiment Analysis notebook

Importing all necessary modules

In [2]:
import data_pipeline as dp
from textblob import TextBlob

Running all the functions from the data pipeline to get us the results dataframe and the processed features

In [5]:
result_df = dp.prepare_data(dp.price_csv, dp.headline_csv)
processed_features = dp.vectorization(result_df)
result_df

,Open,High,Low,Close,Headlines,Average Mean,Differential
Date,,,,,,,
2016-06-30,717.200012,719.369995,712.539978,715.619995,"Amazon Inspire, a resource site where teachers...",938.977200,6.830017
2016-10-02,717.200012,719.369995,712.539978,715.619995,The e-commerce giant has big plans to use auto...,938.977200,6.830017
2016-10-27,831.239990,831.719971,815.429993,818.359985,The creator of “Mad Men” has signed on for an ...,938.977200,16.289978
2016-10-28,782.000000,789.489990,774.609985,776.320007,The company said to expect as much as $1.25 bi...,938.977200,14.880005
2016-12-05,745.000000,761.489990,742.000000,759.359985,At an experimental store on the ground floor o...,938.977200,19.489990
...,...,...,...,...,...,...,...
2019-08-07,1949.000000,1964.400024,1936.000000,1962.459961,Here’s what you need to know at the end of the...,1947.702667,28.400024
2019-08-08,1949.000000,1964.400024,1936.000000,1962.459961,Both the gourmet grocer and the rarefied depar...,1948.954467,28.400024
2019-08-09,1949.000000,1964.400024,1936.000000,1962.459961,"Amazon is trying, starting with a new Jim Gaff...",1950.220667,28.400024
2019-08-10,1949.000000,1964.400024,1936.000000,1962.459961,Julio Torres shares the stories of inanimate o...,1951.371967,28.400024
2019-08-11,1949.000000,1964.400024,1936.000000,1962.459961,The couple met in 2011 while playing in Washin...,1952.555867,28.400024

Look to use pre-trained model, aggregrate the predictions and append to result_df

In [4]:
def sentiment_analysis(result_df, processed_features):
    # List for taking in the sentiments associated with the processed features
    sentiments = []
    polarity = []
    # Using a pre-trained model to analyze sentiment for each headline
    for feature in processed_features:
        sentence = TextBlob(feature)
        polarity.append(sentence.sentiment.polarity)
        if sentence.sentiment.polarity > 0:
            sentiments.append(1)
        else:
            sentiments.append(0)
    # Adding a new column in the dataframe and returning it
    result_df['Sentiment'] = sentiments
    result_df['Polarity'] = polarity
    # pushing df to a csv
    result_df.to_csv("final_amazon.csv")
    return result_df